<nav>
    <ul id="nav">
        <li class="navItem" ><a href="/sortName">naam</a> </li>   
        <li class="navItem" ><a href="/sortDate">datum</a> </li>
        <li class="navItem" ><a href="/sortMeta">metascore</a> </li>
        <li class="navItem" ><a href="/sortGenre">genre</a> </li>
        <li class="navItem" ><a href="/sortWorld">game wereld</a> </li>
        <li class="navItem" ><a href="/sortAct">activiteiten</a> </li>
        <li class="navItem" ><a href="/sortDev">ontwikkelaar</a> </li>
    </ul>
</nav>




