<nav>
    <ul id="nav">
        <li class="navItem"><a href="/games?sorted=name&order=asc">Name</a></li>
        <li class="navItem"><a href="/games?sorted=releaseDate&order=asc">Date</a></li>
        <li class="navItem"><a href="/games?sorted=metascore&order=asc">Metascore</a></li>
        <li class="navItem"><a href="/games?sorted=genre&order=asc">Genre</a></li>
        <li class="navItem"><a href="/games?sorted=gameWorld&order=asc">Game World</a></li>
        <li class="navItem"><a href="/games?sorted=thingsToDo&order=asc">Activities</a></li>
        <li class="navItem"><a href="/games?sorted=developer&order=asc">Developer</a></li>
    </ul>
</nav>