<nav>
    <ul id="nav">
        <li class="navItem">
            <a href="/nameSort" onclick="toggleSortDirection()">naam</a>
        </li>   
        <li class="navItem" ><a href="/dateSort">datum</a> </li>
        <li class="navItem" ><a href="/metascoreSort">metascore</a> </li>
        <li class="navItem" ><a href="/genreSort">genre</a></li>
        <li class="navItem" ><a href="/worldSort">game wereld</a> </li>
        <li class="navItem" ><a href="/thingsSort">activiteiten</a></li>
        <li class="navItem" ><a href="/developerSort">ontwikkelaar</a></li>
    </ul>
</nav>




