section {
    display: grid;
    grid-template-areas: 
    "header header header header header header header"
    "nav nav nav nav nav nav nav"
    "img A B C D E F";
}

img {
    width: 150px;
    height: 100px;
    margin: auto 0;
}
.mainGame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;   
    list-style: none;
    width: 500px;
    height: 150px;
}
ul {
    display: flex;
}
#imgDetail {
    margin: auto 0;
    height: 300px;
    width: 450px;
}
#mainInfo {
    text-align: center;
}
#top {
    display: flex;
    justify-content: center;
}
#nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
#releaseDate {
    width: 80px;
}
#metascore {
    width: 40px;
}
@media screen and (max-width: 720px) {
    #json {
        flex-direction: column;
    }
    img {
        width: 300px;
        height: 200px;
    }
}